*{
    box-sizing: border-box;
}


.tabs{
    width: 100%;
    max-width: 80%;
    margin: 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.tabs ul{
    display: block;
    width: 350px;
    background-color: #fff;
    padding: 30px 20px 30px 20px;
    margin: 0 30px 0 0;
    box-shadow: 0 8px 21px 0 rgba(0,0,0,.1);  
}

.tabs ul li{
    list-style: none;
    width: 100%;
    border-style: dashed;
    border-width: 0 0 1px 0;
    border-color: #c3c3c3;
}
.tabs ul li a{
    text-decoration: none;
    width: 100%;
    font-family: "Montserrat",Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    color: #777;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

.tabs .tab-buttons li:hover, .tabs .tab-buttons .active{
    border-color: #f15252;
}

.tabs .tab-buttons li a:hover, .tabs .tab-buttons .active a{
    color: #f15252;
}



.tab-content{
    padding: 20px 50px;
    box-shadow: 0 8px 21px 0 rgba(0,0,0,.1);  
}
.tab-item {
    display: none;
}
.tab-item.active {
    display: block;
}