@import url(https://fonts.googleapis.com/css?family=Gabriela);
@import url(https://fonts.googleapis.com/css?family=Open + Sans);
body,
div,
h1,
h2,
h3,
html,
p {
    margin: 0;
    padding: 0;
}
body,
html {
    background: #d9c8cd;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.55;
}
p {
    margin-bottom: 40px;
    text-align: center;
}
a {
    text-decoration: underline;
    color: #1889e6;
}
a:hover {
    text-decoration: none;
}
.woo-page {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px 40px;
}
.pcss3t {
    margin-top: 100px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0;
    text-align: left;
}
.pcss3t > input {
    position: absolute;
    left: -9999px;
}
.pcss3t > label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.pcss3t > label i {
    display: block;
    float: left;
    margin: 16px 8px 0 -2px;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 17px;
}
.pcss3t > input:checked + label {
    cursor: default;
}
.pcss3t > ul {
    list-style: none;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 13px;
}
.pcss3t > ul > li {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 30px 40px 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
}
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(0);
}
.pcss3t .typography {
    color: #666;
}
.pcss3t .typography h1,
.pcss3t .typography h2,
.pcss3t .typography h3,
.pcss3t .typography h4,
.pcss3t .typography h5,
.pcss3t .typography h6 {
    margin: 40px 0 0 0;
    padding: 0;
    font-family: Gabriela, Georgia, serif;
    text-align: left;
    color: #333;
}
.pcss3t .typography h1 {
    font-size: 40px;
    line-height: 60px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
.pcss3t .typography h2 {
    font-size: 32px;
    line-height: 48px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.pcss3t .typography h3 {
    font-size: 26px;
    line-height: 38px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.pcss3t .typography h4 {
    font-size: 20px;
    line-height: 30px;
}
.pcss3t .typography h5 {
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
}
.pcss3t .typography h6 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.pcss3t .typography p {
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 20px;
    text-align: left;
}
.pcss3t .typography ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}
.pcss3t .typography li {
    position: relative;
    margin-top: 5px;
    padding-left: 20px;
}
.pcss3t .typography li ul {
    margin-top: 5px;
}
.pcss3t .typography ul li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 4px;
    background: #404040;
}
.pcss3t .typography a {
    text-decoration: underline;
    color: #1889e6;
}
.pcss3t .typography a:hover {
    text-decoration: none;
}
.pcss3t .typography h1:first-child,
.pcss3t .typography h2:first-child,
.pcss3t .typography h3:first-child,
.pcss3t .typography h4:first-child,
.pcss3t .typography h5:first-child,
.pcss3t .typography h6:first-child,
.pcss3t .typography p:first-child {
    margin-top: 0;
}
.pcss3t .typography .text-right {
    text-align: right;
}
.pcss3t-effect-scale > ul > li {
    -webkit-transform: scale(0.1, 0.1);
}
.pcss3t > .right {
    float: right;
}
@media screen and (max-width: 767px) {
    .pcss3t > label {
        display: block;
    }
    .pcss3t > .right {
        float: none;
    }
}
.pcss3t > label {
    padding: 0 20px;
    background: #e5e5e5;
    font-size: 13px;
    line-height: 49px;
}
.pcss3t > label:hover {
    background: #f2f2f2;
}
.pcss3t > input:checked + label {
    background: #fff;
}
.pcss3t > ul {
    background: #fff;
    text-align: left;
}
.pcss3t-theme-1 > label {
    margin: 0 5px 5px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    color: grey;
    opacity: 0.8;
}
.pcss3t-theme-1 > label:hover {
    background: #fff;
    opacity: 1;
}
.pcss3t-theme-1 > input:checked + label {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #2b82d9;
    opacity: 1;
}
.pcss3t-theme-1 > ul {
    border-radius: 5px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}
.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
    border-top-left-radius: 0;
}
@media screen and (max-width: 767px) {
    .pcss3t-theme-1 > label {
        margin-right: 0;
    }
    .pcss3t-theme-1 > input:checked + label {
        margin-bottom: 5px;
        padding-bottom: 0;
        border-radius: 5px;
    }
    .pcss3t-theme-1 > .tab-content-first:checked ~ ul {
        border-top-left-radius: 5px;
    }
}
.pcss3t > ul,
.pcss3t > ul > li {
    min-height: 450px;
}
